<%= form_for(@ejercicio) do |f| %>
  <% if @ejercicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejercicio.errors.count, "error") %> prohibited this ejercicio from being saved:</h2>

      <ul>
      <% @ejercicio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br />
    <%= f.date_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :fin %><br />
    <%= f.date_select :fin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
